<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whq.warehousemanagementsystem.mapper.AllledgerMapper">

    <resultMap id="BaseResultMap" type="com.whq.warehousemanagementsystem.domain.Allledger">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commodityId" column="commodityId" jdbcType="INTEGER"/>
            <result property="store" column="store" jdbcType="INTEGER"/>
            <result property="commodityOutboundNum" column="commodityOutboundNum" jdbcType="INTEGER"/>
            <result property="commodityInboundNum" column="commodityInboundNum" jdbcType="INTEGER"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,commodityId,store,
        commodityOutboundNum,commodityInboundNum,updateTime,
        createTime,isDelete
    </sql>
</mapper>
